<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#000000">
        <meta name="description" content="Web site created using create-react-app">
        <link rel="apple-touch-icon" href="/logo192.png">
        <link rel="manifest" href="/manifest.json">
        <title> SDU Career_Roadmap</title>
        <link rel="stylesheet" href="C:\Users\User-757\Desktop\SDU_Diplom\d\diploma-project-bad-boys\Project\career_roadmap\static\styles\authentication_style.css">
        <script defer="" src="/static/js/bundle.js"></script>
        
    <style>
    @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap);</style>
    
  </head>
</head>
<body>
    <body data-new-gr-c-s-check-loaded="14.1027.0" data-gr-ext-installed="">
        <div id="root"><div class="App">
            <div class="auth-form-container">
            <img src="SDU_log.svg" height="100" width="100" alt="SDU_Roadmap">
            <h2>Restore password</h2>
            <h3>Please enter your email address so we can send you <br> an email with a link to reset your password.</h3>
            <form class="login-form">
                <label for="password">New password</label>
                <input type="password" value="">
                <label for="password">Repeat password</label>
                <input type="password" value="">
                <button type="submit">Login</button></form>
                <button class="back-btn">Back</button>
            </div>
        </div>
    </div>
    </body>
</body>
</html>