{% extends 'main.html' %}
{% load allow_group %}
{% load static %}
{% block content %}
<main class="search-page">
 <p class="page-name">
  <strong>Search page</strong>
 </p>
 <div class="grid-container">
  <h1>Search result{{containers|pluralize:"s"}}</h1>

  <div class="{{model}} grid">
   {% if model == 'tracks' %}
    {% for track in containers %}
    <a href="{% url 'single-track' track.track.id %}" class="small-track">
     <h4>{{track.track.title}}</h4>
     <p>{{track.track.students|length}} students</p>
    
     {% if track.rating is not None %}
     <div class="rating" data-value="{{track.rating}}">
      <div class="rating-display">
       <i class="star"></i>
       <i class="star"></i>
       <i class="star"></i>
       <i class="star"></i>
       <i class="star"></i>
      </div>
     </div>
     {% endif %}
    </a>
    {% endfor %}
   {% elif model == 'tasks' %}
    {% for user_task in containers %}
     {% if user_task.task is not None %}
      <a href="{% url 'single-task' user_task.task.id %}" class="task-block {{user_task.status}}">
       <div class="icon"></div>
       <div class="order">{{user_task.task.order}}</div>
       <div class="title">{{user_task.task.title}}</div>
      </a>
     {% else %}
      <a href="{% url 'single-task' user_task.id %}" class="task-block blocked">
       <div class="icon"></div>
       <div class="order">{{user_task.order}}</div>
       <div class="title">{{user_task.title}}</div>
      </a>
     {% endif %}
    {% endfor %}
   {% elif model == 'assess-student' %}
    
    {% for result in containers %}
    <a href="{% url 'assess-student' result.student.id %}" class="student">
     <div class="user-block">
      <div class="user-wrapper">
       <img src="{{result.student.profile_image.url}}" alt="avatar">
      </div>
      <div class="full-name">{{result.student.first_name}} {{result.student.last_name}}</div>
    
      <div class="stats">
       <div>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        {{result.waiting}} task{{result.waiting|pluralize:"s"}} waiting
       </div>
       <div class="completed">
        &#10004;
        {{result.completed}} task{{result.completed|pluralize:"s"}} checked
       </div>
      </div>
     </div>
    </a>
    {% endfor %}
   {% elif model == 'users' %}
   <div class="profiles">
    {% for profile in containers %}
    <a href="{% url 'profile' profile.id %}" class="profile">
     <div class="user-block">
      <div class="user-flex">
       <div class="user-wrapper">
        <img src="{{profile.profile_image.url}}" alt="avatar">
       </div>
       <div class="full-name">{{profile.first_name}} {{profile.last_name}}</div>
      </div>
      <div>{{profile.email}}</div>
    
      {% if profile.user|has_group:"admin" %}
      <div class="group admin">Admin</div>
      {% elif profile.user|has_group:"creator" %}
      <div class="group creator">Creator</div>
      {% elif profile.user|has_group:"assessor" %}
      <div class="group assessor">Assessor</div>
      {% else %}
      <div class="group student">Student</div>
      {% endif %}
    
      {% if profile.is_logged_in %}
      <div class="online">Online</div>
      {% else %}
      <div class="offline">Offline</div>
      {% endif %}
    
     </div>
    </a>
    {% endfor %}
   </div>
   {% endif %}

  </div>
  {% include 'pagination.html' with queryset=containers page_range=page_range search=search %}
 </div>
</main>
{% endblock %}